@import url("https://use.typekit.net/cuk6dcx.css");
@import url("https://use.typekit.net/kgb1teu.css");



.bio-section {

}

.section-white{
  background-color: white;
}

.uk-sticky-fixed {
//  border-bottom: 1px solid lightgrey;
}

.white-button{
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  transition: background-color 0.3s;
  }
.white-button:hover {
  background-color: #F0F0ED;
}

.tag-card{
  background-color: #F0F0ED;
  display: inline-block;
  padding: 8px 24px;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  border: 1.3px solid #000;
  margin: 5px;
}



.mango {
  width: 30px;
}

.mango-mobile {
  width: 30px;
}

.bio-pic img {
  border-radius: 100%;
}


.bio p.uk-text-lead{
  line-height: 1;
}

@media (max-width: 960px) {
  .bio {
    text-align: center;
  }
}

.text-white {
  color: white !important;
}

.language-switcher{
  font-weight: 300;
}

.language-switcher a {
  color: @base-body-color;
}

.language-switcher a.uk-active {
  color: @main-color;
}

.show-more {
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 90px;
  padding: 0;
  line-height: 3em;
}

.back-arrow{
  @media(max-width:959px){
    width:70px;
  }
}

.sidebar-info,
.servicios,
.about-me,
.large-paragraph,
.proyecto .contenido {
  font-size: 24px;

  @media(max-width:959px){
    font-size: 18px;
  }
  @media(min-width: 960px) {

    .proyecto-content {
      width: 75%;
    }
  }

  .proyecto-info {
    width: 25%;
    font-size:14px;
    .proyecto-descripcion + p {
      margin: 0;
      color: #515151;
    }
  }

  /*h1 {
    width: 623px;
    height: 189px;
    left: 86px;
    top: 240px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
  }*/

  /*h5 {
    color: #9B9B9B;
  }*/
  .caption {
    margin-top: 5px;
    font-size: 14px;
    color: #8f8f8f;
  }


}

img[data-src][src*='data:image'] {
  background: rgba(0, 0, 0, 0.1);
}

.proyectos-relacionados {
  padding: 60px 0;
  .uk-overlay > :last-child {
    margin-bottom: 15px;
  }
}

@media (max-width: @breakpoint-small-max) {
  .grid-container {
    padding: 0;
  }

  /*footer {
    padding: 30px;
  }*/
}

.uk-sticky-fixed.uk-active.menu-container {
  border-bottom: 1px solid lightgrey;
}

.menu-container {
  z-index: 981;
}

footer {
  border-top: 1px solid #efefef;

 /* @media (max-width: @breakpoint-small-max) {
    padding-bottom: 60px;
  }*/
}

.project-main-image + .project-container,
.post-main-image + .post-container {
  //margin-top: 70px;
  @media (min-width: 960px) {
    margin-top: 70px;
  }
}

.project-container {
  @media (max-width: 959px) {
    /* margin-top: 40px;*/
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 5fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, 70px);

  .uk-overlay > :last-child {
    margin-bottom: 15px;
  }


  @media (max-width: @breakpoint-small-max) {
    grid-template-columns: repeat(10, 5fr);
    grid-gap: 5px;
    grid-auto-rows: 50px;
  }

  @grid-cell-color: #E5E5E5;

  > div {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 8;
  }

  > div:nth-child(1) {
    background: @grid-cell-color;

    grid-column-start: 3;
    grid-column-end: 10;

    grid-row-start: 2;
    grid-row-end: 8;

    @media (max-width: @breakpoint-small-max) {
      /*grid-column-start: 1;
      grid-column-end: 7;*/
      grid-column-start: 2;
      grid-column-end: 10;

      grid-row-start: 2;
      grid-row-end: 8;

    }

  }

  > div:nth-child(2) {
    grid-column-start: 12;
    grid-column-end: 20;

    grid-row-start: 1;
    grid-row-end: 10;


    background: @grid-cell-color;

    @media (max-width: @breakpoint-small-max) {
      /* grid-column-start: 5;
       grid-column-end: 11;*/
      grid-column-start: 2;
      grid-column-end: 10;

      grid-row-start: 9;
      grid-row-end: 17;
    }

  }

  > div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 8;

    grid-row-start: 9;
    grid-row-end: 17;

    background: @grid-cell-color;

    @media (max-width: @breakpoint-small-max) {
      /*grid-column-start: 2;
      grid-column-end: 8;*/
      grid-column-start: 2;
      grid-column-end: 10;

      grid-row-start: 18;
      grid-row-end: 25;
    }

  }
  > div:nth-child(4) {
    grid-column-start: 10;
    grid-column-end: 18;


    grid-row-start: 11;
    grid-row-end: 16;

    @media (max-width: @breakpoint-small-max) {
      /*grid-column-start: 3;
      grid-column-end: 11;*/
      grid-column-start: 2;
      grid-column-end: 10;

      grid-row-start: 26;
      grid-row-end: 32;
    }

    background: @grid-cell-color;
  }

  img {
    opacity: 0;
    width: 100%;
    transition: opacity 1s ease-in-out 300ms;
  }

  img.is-loaded {
    opacity: 1;
  }
}

.uk-list-bullet > ::before {
  margin-bottom: -1.9em;
}

.FormBuilder{
  .Inputfield label + p{
    font-size:14px;
    color: #484848 !important;
  }
  .uk-checkbox {
    border: 1px solid #404040;
  }
}



/*

.done-work{
  >div{position:relative}
  @media(min-width:959px) {
    > div:first-child:after {
      content: '';
      position: absolute;
      right: 0px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: @global-color;
    }
  }
}
*/



.uk-navbar-item > a.bzambrano-logo,
.uk-navbar-nav > li > a.bzambrano-logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: auto !important;
  padding:0;
  // #bzambrano-logo > span { ... }
   > span{
    width:100%;
    min-height:auto;
    font-size:20px;
  }
   .apellido {
    font-weight:300;
  }
   .name{
    font-weight: bold;
  }
   .work{
    font-family: @global-font-family;
    font-size:16px;
    margin-top:-5px;
    font-weight: 300;
  }
}

/*
.bzambrano{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: auto !important;
  padding:0;
}
.bzambrano > span{
  width:100%;
  min-height:auto;
  font-size:20px;
}
.bzambrano .apellido {
  font-weight:300;
}
.bzambrano .name{
  font-weight: bold;
}
.bzambrano .work{
  font-family: @global-font-family;
  font-size:16px;
  margin-top:-5px;
  font-weight: 300;
}
*/

.indicator{
  display:none;
}

.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  opacity:1
}
.htmx-request.htmx-indicator{
  opacity:1
}



@media(max-width:959px){
  .bzambrano-privacy .uk-grid-small>.uk-grid-margin{
    margin-top:5px;
  }
}

@media(min-width:960px){
  .bzambrano-privacy .privacywire {
    max-width: 500px;
    left: 20px;
  }

  .bzambrano-privacy.show-banner .privacywire-banner,
  .bzambrano-privacy.show-message .privacywire-message,
  .bzambrano-privacy.show-options .privacywire-options{
    background-color: #333333;
    color: white;
    bottom: 20px;
    left: 20px;
    transition: bottom 300ms ease-in, opacity 100ms ease;
    border-radius: 15px;
  }
}
.allow-all, .allow-necessary, .choose{
  background-color: white;
  color: #333333;
  border-radius: 15px;
}

.bzambrano-privacy .privacywire{
  box-shadow:none;
  border:1px solid rgb(68,68,68);
  font-size:13px;
  transition: bottom 300ms ease-in, opacity 100ms ease;
}


/*.bzambrano-privacy .privacywire{
  max-width: 500px;
  left: 20px;
  bottom:20px ;
}*/

.tagline{
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #828282;
  margin-bottom: -1rem;
  .proyecto-data &{
    margin-bottom: -0.85rem;
  }
}

.tagline2{
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  margin-bottom: -1rem;
  .proyecto-data &{
    margin-bottom: -0.85rem;
  }
}

.service-description{

  @media(min-width:960px){
    min-height:250px;
  }
}

.copy-action{
  cursor: pointer;
}


.listado-publicaciones,
.default-paragraph{
  font-size: 1rem;
}


.text-column-wrapper{
  width:100%;

  p:last-child > a.uk-button{
    margin-top: 60px;
  }

  @media(min-width:960px) {
    width: 600px;
    margin: 0 100px;
  }
}

.accordion-column-wrapper{
  width:100%;
  @media(min-width:960px) {
    width: 600px;
    margin: 0 100px;
  }
}



testimonial-card-link a{
  text-decoration: none;
}

.testimonial-card a:hover {
  text-decoration: underline;
}

.text-animate .uk-h1 {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  line-height: 1.3;
}

.text-animate .uk-h1 span {
  display: inline-block;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@media screen and (max-width: 767px) {
  .text-animate h1 {
    font-size: 2.17em; /* Typical browser default for h3 */
    /* Add any other styles you want to change for mobile here */
  }
}


/*.testimonials .uk-position-small .uk-icon-button{
  background-color: #F8F8F8;
}*/

.uk-position-small{
  z-index: 1000;
}

.home-button p{
  margin : 0;
}